* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* transition: 0.3s ease; */
  overflow-x: hidden;
}

.hero {
  background-image: url('./assets/bg.png'), url('./assets/african-american.png');

  background-repeat: no-repeat, repeat-x, repeat-y;
}
/* .anmi {
  animation: spin 0.5s forwards;
}
.business {
  animation: 0.5s forwards scal;
}

@keyframes scal {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes spin {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-20px);
  }
} */

.is-open {
  visibility: visible;
}
.is-closed {
  visibility: hidden;
}
nav a.active {
  color: purple;
  text-decoration: underline;
}

::-webkit-input-placeholder::after {
  content: '*';
  color: red;
  background-color: red;
  position: absolute;
  left: 20px;
  height: 30%;
  width: 30%;
  top: 3px;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url('./assets/african-american.png'),
      url('./assets/bg.png');
    opacity: 0.9;
  }
}
@media screen and (max-width: 820px) {
  .map {
    left: 23%;
  }
}
